<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            <b>
              achiral
            </b>
            software
          </li>        
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          <li>
            +40 732 591 103
          </li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
         <ul class="contact-list">
          <li>
            <b>
              address
            </b>
          </li>
          <li>
            24 Ianuarie 5
          </li>
          <li>
            Resita 320078
          </li>
          <li>
            Romania 
          </li>
        </ul>
        </div>

      <div class="footer-col footer-col-3">
        <p>
          <b>achiral</b> offers consulting and custom software development services on the node.js, Ruby on Rails and .NET stacks. 
        </p>
      </div>
    </div>
    <div style="text-align: center; font-size: 12px; color: #666;">
      © 2017 all rights reserved.
    </div>
    
  </div>
</footer>