<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>
    {% include header.html %}
    
    <div style="color: #888; height: 70px; max-height: 70px; background-color: #444; z-index: -1; padding-top: 62px;">
      <div class="wrapper">
        <div style="margin-left: -5px;">
          <svg class="site-logo" width="46" height="46" viewBox="0 0 100 100" stroke="#ee4477" stroke-width="2.5" fill="#2f2f2f" 
            xmlns="http://www.w3.org/2000/svg"
            style="margin-right: 10px">

            <rect x="0" y="0" width="100" height="100" fill="#2f2f2f" />
            
            
            <line x1="50" y1="40" x2="20" y2="35" />
            <line x1="50" y1="40" x2="80" y2="35" />
            <line x1="50" y1="40" x2="50" y2="75" />
            <line x1="50" y1="40" x2="30" y2="60" />
            <line x1="50" y1="40" x2="70" y2="60" />
            <circle cx="50" cy="40" r="9" />
            <circle cx="20" cy="35" r="9" />
            <circle cx="80" cy="35" r="9" />
            <circle cx="25" cy="62" r="9" />
            <circle cx="75" cy="62" r="9" />
            <circle cx="50" cy="75" r="9" />
          </svg>
          <div style="font-size: 20px; font-weight: 300; color: #ccc;"><b>achiral</b> software</div>
        </div>
        <div style="font-size: 12px;">
          <b>achiral</b> offers consulting and custom software development services on the node.js, Ruby on Rails and .NET stacks.
        </div>
      </div>
     
    </div>
    <main class="page-content" aria-label="Content" style="margin-top:0; z-index: 1000;">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>    

    {% include footer.html %}

  </body>

</html>
