--- layout: default --- {% include splash.html %}

<main class="page-content" aria-label="Content" style="margin-top:0; z-index: 1000;">
  <div class="wrapper">
    <br>
    <div class="container">
      <div class="col4">
        <h1>
          WHY ACHIRAL?
        </h1>
      </div>
      <div class="col8">
        <p id="descr">
          We are a software development company that specialises in building custom web-based, mobile (React native) and desktop applications,
          and in providing consultancy services to organisations seeking on demand colaboration.
        </p>
      </div>
    </div>
    <br>
  </div>
  <div class="wide">
    <div class="wide-inner">
      <div class="col4 wide-item">
        <i class="fa fa-code fa-3x icon" aria-hidden="true"></i>
        <h2>Custom Software</h2>
        We combine technical know how, a deep understanding of our clients’ business goals and agile development practices to deliver
        custom software products.
      </div>
      <div class="col4 wide-item">
        <i class="fa fa-camera-retro fa-3x icon" aria-hidden="true"></i>
        <h2>App Design / UX</h2>
        There's more to software than just functionality. From branding and design, all the way to user experience, these aspects
        are an integral part of building software users will want to continue using.
      </div>
      <div class="col4 wide-item">
        <i class="fa fa-cloud-upload fa-3x icon" aria-hidden="true"></i>
        <h2>DevOps</h2>
        The application lifecycle doesn't stop after development finishes. We provide deployment, infrastructure maintenance and
        monitoring services on demand.
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div>
      <div id="contact" class="container">
        <div class="col6">
          <iframe width="400" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ90voV4dnRUcRk0VIkseiy3Y&key=AIzaSyDNdyxwwLEwMGgdAhjCbndo1y6YfvVjxgA"
            allowfullscreen></iframe>

        </div>
        <div class="col6" id="contact">
          <h1>Address</h1>
          <p>
            Intrarea Doinei 5 <br> Timisoara 320078 <br> Romania
          </p>
          <h1>Contact</h1>
          <p>
            office@achiral.io <br> +40 732 591 103 <br>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>