---
layout: default
---

{% include splash.html %}

<main class="page-content " aria-label="Content " style="margin-top:0; z-index: 1000; ">
  <div class="wrapper ">

    <div class="container">

      <div class="col4">
        <h1>
          WHY WORK WITH ACHIRAL?
        </h1>
      </div>
      <div class="col8">
        <p>
          Quisque sed turpis ac nisi consequat hendrerit tempus id risus. Nullam lectus augue, sagittis eu tellus ac,
          euismod semper felis. Phasellus venenatis nulla mauris, ac dignissim nulla sodales nec. Sed ultricies fermentum
          aliquam. Mauris sed ornare lectus. Vestibulum mollis velit eget accumsan malesuada. Morbi semper rhoncus justo
          porta rutrum. Ut porttitor luctus neque nec viverra. In tincidunt euismod pharetra. Vivamus iaculis, urna sit
          amet tristique vehicula, felis lorem maximus diam, in facilisis nulla mauris vel nisl. Morbi eu posuere magna.
          Aenean fringilla sit amet velit pretium vulputate. Ut sollicitudin, nisi in pretium bibendum, leo risus ultrices
          dolor, sed venenatis elit diam id lorem. Morbi tincidunt dolor scelerisque, pulvinar odio vel, iaculis justo.
        </p>
      </div>
    </div>

    <div class="home">
      <p>
        Quisque sed turpis ac nisi consequat hendrerit tempus id risus. Nullam lectus augue, sagittis eu tellus ac,
        euismod semper felis. Phasellus venenatis nulla mauris, ac dignissim nulla sodales nec. Sed ultricies fermentum
        aliquam. Mauris sed ornare lectus. Vestibulum mollis velit eget accumsan malesuada. Morbi semper rhoncus justo
        porta rutrum. Ut porttitor luctus neque nec viverra. In tincidunt euismod pharetra. Vivamus iaculis, urna sit
        amet tristique vehicula, felis lorem maximus diam, in facilisis nulla mauris vel nisl. Morbi eu posuere magna.
        Aenean fringilla sit amet velit pretium vulputate. Ut sollicitudin, nisi in pretium bibendum, leo risus ultrices
        dolor, sed venenatis elit diam id lorem. Morbi tincidunt dolor scelerisque, pulvinar odio vel, iaculis justo.
      </p>

      {{ content }}

      <div class="container">

        <div class="col6">
          <iframe
            width="400"
            height="400"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDNdyxwwLEwMGgdAhjCbndo1y6YfvVjxgA
            &q=Space+Needle,Seattle+WA">
        </iframe>
      </div>

      <div class="col6">
        <h1>Address</h1>
        <p>
          24 Ianuarie 5 <br/>
          Resita 320078 <br/>
          Romania
        </p>
        <h1>Contact</h1>
        <p>
          office@achiral.io <br/>
          +40 732 591 103 <br/>
        </p>
      </div>
    </div>

  </div>
</div>
</main>
