--- 
layout: default 
---

<br/>

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </h2>
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      <span class="post-meta">{{ post.date | date: date_format }}</span>
      <div class="post-description">
        <img src="images/{{ post.icon }}" style="float: left; height: 56px; width: 56px; margin-right: 8px; margin-top: 5px;" />
        {{ post.description }}
      </div>
    </li>
  
    {% endfor %}
  </ul>

</div>